.parent {
    margin: 25px auto 25px;     
    width: 300px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 5px;
    justify-items: center;
}

.div37 {
    grid-column-start: 3;
}

.parent div {
    background-color: #bfa06a;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    width: 46px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.9vw;
    color: #3a2c14;
    font-weight: 600;
    user-select: none;

}
