.parent {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 5px;
    justify-items: center;
    text-align: center;
}

.div37 {
    grid-column-start: 3;
}

.parent div {
    background-color: #bb9367;
    border-radius: 5px;
    width: 12vw;
    height: 30px;
    text-align: center;
    font-size: 10px;
}