body {
    margin: 100px 0px 0px;

    font-family: "preconnect", "Segoe UI", Roboto, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

.main-content {
    flex: 1;
    padding: 0px;
}

.blackBoard {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 5px;
    justify-items: center;
    text-align: center;
}

.board {
    background-color: #007c11;
    border-radius: 5px;
    width: 12vw;
    height: 30px;
    text-align: center;
    padding: 20px 40px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold
}

.button-wrapper {
    text-align: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
}

.drawButton {
    width: 48vw;
    height: 24vw;
    font-size: 25px;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    background-color: #ffe100;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.drawButton:hover {
    background-color: #ffd700;
}

.resetButton {
    width: 16vw;
    height: 20px;
    font-size: 8px;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    border: 0.8px solid #323232;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.resetButton:hover {
    background-color: #ff4000;
}

.simultaneousVotingButton {
    width: 16vw;
    height: 20px;
    font-size: 8px;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    border: 0.8px solid #323232;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.resetButton:hover {
    background-color: #ffe100;
}


.frontModeLabel {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16vw;
    height: 20px;
    font-size: 7px;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    border: 0.8px solid #323232;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    user-select: none;
    text-align: center;
}


#frontMode:checked+.frontModeLabel {
    background-color: #ffe100;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    margin: 13vh 25px 0px;
}



footer {
    font-size: 10px;
    text-align: center;
    background-color: #c3c3c3;
    color: #222;
    padding: 15px;
}