body {
    padding: 0;
    margin: 20px;
    font-family: "Segoe UI", Roboto, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.button-wrapper {
    text-align: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
}

.drawButton {
    width: 24vw;
    height: 24vw;
    /* padding: 12px 24px; */
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    background-color: #ffe100;
    border: none;
    border-radius: 24vw;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.resetButton {
    width: 10vw;
    height: 5vw;
    /* padding: 12px 24px; */
    font-size: 0.5rem;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.drawButton:hover {
    background-color: #ffd700;
}


footer {
    font-size: 10px;
    text-align: center;
    background-color: #ffe100;
    color: #222;
    padding: 10px;
}